@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h3{
    @apply text-base font-medium;
  }
  ul{
    @apply list-disc p-2
  }
  ol{
    @apply list-decimal p-2
  }
  /* fix html2pdf(html2canvas) texts are shift down */
  img { display: initial; }
}
@layer utilities {
  /* normal-case */

  /* 关闭daisyUI按钮字母大写 */
  .btn-text {
    text-transform: none;
  }
  /* Resolve Quasar and Tailwind CSS conflicts 
  Quasar: flex
  .flex{ display: flex; flex-wrap: wrap }
  */
  .flex{
    display: flex;
    flex-wrap: nowrap;
  }
}
@layer components{
  /* 修改分割线的高度为0.5px */
  .divider:before {
      @apply h-[0.5px] w-full;
    }
  .divider:after {
      @apply h-[0.5px] w-full;
    }
  
}
